{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% block title %}
    <title>My Portfolio</title>
    {% endblock title %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg back-navbar navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn"
        {%comment %} data-wow-delay="0.1s"> {% endcomment %}
        <a href="#" class="navbar-brand d-block d-lg-none">
            <h1 class="text-white fw-bold m-0">Ravendra Singh</h1>
        </a>
        <button type="button" class="navbar-toggler buttoncolor" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-2">
                <a href="/" class="nav-item nav-link active">
                    <h4 class="port"><span class="text-white-50">Port</span>folio</h4>
                </a>
                <a href="#about" class="nav-item nav-link text-white mt-1">About</a>
                <a href="#skill" class="nav-item nav-link text-white mt-1">Skills</a>
                <a href="#service" class="nav-item nav-link text-white mt-1">Services</a>
            </div>
            {% comment %} <a href="#" class="navbar-brand bg-secondary py-3 px-4 mx-3 d-none d-lg-block">
                <h1 class="text-white fw-bold m-0">Ravendra Singh</h1>
            </a> {% endcomment %}
            <div class="navbar-nav me-auto py-0 mb-1">
                <a href="#contact" class="nav-item nav-link text-white">Contact</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid background my-6 mt-0" id="home">
        <div class="container background">
            <div class="row g-5 align-items-center background">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0 background">
                    <h3 class="text-primary mb-3 text-white">Hello, I'm</h3>
                    <h1 class="display-3 mb-3 text-white">Ravendra Singh</h1>
                    <h2 class="typed-text-output d-inline text-white"></h2>
                    <div class="typed-text d-none ">Front-End Developer, Back-End Developer</div>
                    <!-- <div class="d-flex align-items-center pt-5 background">
                        <a href="https://mail.google.com/mail/u/0/#inbox/FMfcgzGtwMfbnKrGkQDDNMSRXmCpJwhQ?projector=1&messagePartId=0.1" class="btn btn-primary py-3 px-4 me-5">Download CV</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block text-danger">Play Video</h5>
                    </div> -->
                </div>
                <div class="col-lg-6 background">
                    <img class="img-fluid mt-3 img-thumbnail rounded-pill" src="/static/img/nam.jpg" width="260px"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                            allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="container-xxl background" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                            <h1 class="mb-0 text-white-50">About Me</h1>
                        </div>
                    </div>
                    <p class="mb-4 text-white skills">
                        Hello! I'm Ravendra, a passionate web developer and driven Computer Science student.
                        I have completed my Bachelor's degree in Computer Science and I've delved into various subjects
                        like data structures, software engineering.



                    </p>
                    <div class="d-flex align-items-center pt-5 background">
                        <a href="https://drive.google.com/file/d/1_IxuLyla1jVkkfZaz6n13x2DmpqxKHsA/view"
                            class="btn btn-primary py-3 px-4 me-5">Download CV</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Expertise Start -->
        <div class="container-xxl py-6 pb-5 background" id="skill">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="display-5 mb-5 text-white-50">Skills</h1>
                        <p class="mb-4 text-white skills">I have honed my technical skills through projects.
                            Proficient in programming languages such as Python, Django Framework, JavaScript and React
                            JS, I am
                            creating responsive and user friendly interface using HTML, CSS and JavaScript.
                            I have hands-on experience with Django, enabling me to develop dynamic
                            and efficient web application that enhance the user experience.
                        </p>
                        <h3 class="mb-4 text-white-50">My Skills</h3>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">HTML</h6>
                                        <h6 class="font-weight-bold text-white">80%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">CSS</h6>
                                        <h6 class="font-weight-bold text-white">75%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">JavaScript</h6>
                                        <h6 class="font-weight-bold text-white">75%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">React Js</h6>
                                        <h6 class="font-weight-bold text-white">65%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">Bootstrap</h6>
                                        <h6 class="font-weight-bold text-white">75%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">Tailwind CSS</h6>
                                        <h6 class="font-weight-bold text-white">60%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">Python</h6>
                                        <h6 class="font-weight-bold text-white">70%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">Django</h6>
                                        <h6 class="font-weight-bold text-white">70%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">MySQL</h6>
                                        <h6 class="font-weight-bold text-white">65%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="skill mb-4">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-weight-bold text-white">AWS</h6>
                                        <h6 class="font-weight-bold text-white">60%</h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Expertise End -->


        <!-- Service Start -->
        <div class="container-fluid background my-5 py-6" id="service">
            <div class="container">
                <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-lg-6">
                        <h1 class="display-5 mb-0 text-white-50">My Services</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <a class="btn btn-success py-3 px-5" href="#contact">Hire Me</a>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                            <div class="bg-icon flex-shrink-0 mb-3">
                                <i class="fa fa-crop-alt fa-2x text-dark"></i>
                            </div>
                            <div class="ms-sm-4 ">
                                <h4 class="mb-3">Responsive Design</h4>
                                <!-- <h6 class="mb-3">Start from <span class="text-primary"></span></h6> -->
                                <span class="skills">Capability to create websites that adapt seamlessly to various
                                    devices, including
                                    desktops, tablets, and mobile phones.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                            <div class="bg-icon flex-shrink-0 mb-3">
                                <i class="fa fa-code-branch fa-2x text-dark"></i>
                            </div>
                            <div class="ms-sm-4">
                                <h4 class="mb-3">E-commerce Solutions</h4>
                                <span class="skills"> I have good knowledge in creating online stores, integrating
                                    payment gateways,
                                    managing inventory, and ensuring secure transactions.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                            <div class="bg-icon flex-shrink-0 mb-3">
                                <i class="fa fa-code fa-2x text-dark"></i>
                            </div>
                            <div class="ms-sm-4">
                                <h4 class="mb-3">FrontEnd Development</h4>
                                <span class="skills">I can create the responsive, user friendly interface, user
                                    interface (UI) of
                                    websites using HTML5, CSS3, JavaScript and frontend framework like React JS.

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                            <div class="bg-icon flex-shrink-0 mb-3">
                                <i class="fa fa-laptop-code fa-2x text-dark"></i>
                            </div>
                            <div class="ms-sm-4">
                                <h4 class="mb-3">BackEnd Development</h4>
                                <!-- <h6 class="mb-3">Start from <span class="text-primary"></span></h6> -->
                                <span class="skills">We design solutions that are very reliable and simple to use by
                                    constantly
                                    refining and upgrading with consumer insights.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Projects Start -->
        {% comment %} <div class="container-xxl py-6 pt-5 " id="project">
            <div class="container">
                <div class="row g-5 mb-5 align-items-center wow fadeInUp " data-wow-delay="0.1s">
                    <div class="col-lg-6">
                        <h1 class="display-5 mb-0 text-white-50">My Projects</h1>
                    </div>
                </div>
                <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-lg-4 col-md-6 portfolio-item first">
                        <div class="portfolio-img rounded overflow-hidden">
                            <img class="img-fluid" src="/static/img/project-1.jpg" alt="">
                            <div class="portfolio-btn">
                                <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1"
                                    href="/static/img/project-1.jpg" data-lightbox="portfolio"><i
                                        class="fa fa-eye"></i></a>
                                <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i
                                        class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- Projects End -->

        <!-- Contact Start -->
        <div class="container-xxl pb-1" id="contact">
            <h1 class="display-5 mb-0 text-center text-white-50">Contact Us</h1>
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="mb-2 text-white fa fa-address-book"></p>
                        <h3 class="fw-bold text-white">Noida Sector-16, UP, India</h3>
                        <hr class="w-100">
                        <p class="mb-2 text-white fa fa-phone"></p>
                        <h3 class="fw-bold"><a href="tel:+918303326227" class="text-white">+918303326227</a></h3>
                        <hr class="w-100">
                        <p class="mb-2 text-white fa fa-envelope"></p>
                        <h3 class="fw-bold"><a href="mailto:ravendrasingh1357@gmail.com"
                                class="text-white">ravendrasingh1357@gmail.com</a></h3>
                        <hr class="w-100">
                        <p class="mb-2 text-white">Follow :</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-square btn-primary me-2"
                                href="https://instagram.com/sisodia.ravendra?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary me-2"
                                href="https://www.facebook.com/profile.php?id=100039999892212&mibextid=ZbWKwL"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary me-2"
                                href="https://github.com/ravendrasinghsisodiya"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square btn-primary me-2"
                                href="https://www.linkedin.com/in/ravendra-singh-235b7019a"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        {% for i in messages %}
                        <div class="alert alert-danger alert-dismissible fade show text-center p-4" role="alert">
                            {{i}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6 pt-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Enter your name"
                                            required>
                                        <label for="name">Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email"
                                            placeholder="Enter your email" required>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-12 pt-2">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject"
                                            required>
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12 pb-4">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message"
                                            style="height: 100px" required></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-success py-3 px-5" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Map Start -->
        <div class="container-xxl m-1 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container-xxl px-0">
                <div class="bg-dark">
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Noida sec 16&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
                                href="https://connectionsgame.org/">Connections NYT</a></div>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                width: 100%;
                                height: 300px;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                width: 100%;
                                height: 300px;
                            }

                            .gmap_iframe {
                                height: 300px !important;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <!-- Map End -->


        <!-- Copyright Start -->
        <div class="container-fluid background text-white py-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">Copyright
                        &copy; <span class="text-center text-secondary">2023 Ravendra Singh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <span href="" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/wow/wow.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/waypoints/waypoints.min.js"></script>
        <script src="/static/lib/typed/typed.min.js"></script>
        <script src="/static/lib/counterup/counterup.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/static/lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
</body>

</html>